@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono:ital@0;1&display=swap');

/* Table of content */
/* 1. Root settings */
/* 2. HTML settings */
/* 3. Font settings */
/* 4. Buttons style */
/* 5. Nav settings */
/* 5-7. Main settings */
/* 5-7. Form settings */
/* 7-9. Footer settings */





/* 1. Root settings */
:root{
    --favorite-bg : #000000;
    --screen-graphic-color: #23B78C;
    --gallery-border: solid 5px #D49CC6;
    --active-btn : #06F3AF;
    --screen-bg : #0C0D23;
    --screen-text : #ffffff;
    --screen-border : solid 5px #23B78C;
    --whitish : #ffffff;
    --light-purple : #BDB1C0;
    --greenish : #108E74;
    --light-green : #23B78C;
    --light-yellow : #F3CC16;
    --light-red : #EF5C5E;
    --font-color-black : #000000;
    --bg-color-white : #FFFFFF;
    --button-bg-color : #EDDDDE;
    --button-bg-color-focus : #ffffff;
    --button-shadow-color: #000000;
    --border-style-1px: solid 1px black;
    --border-screen-style-1px: solid 1px black;
    --border-style-2px: solid 2px black;
    --warning : red;
    --ok : green;
    --tablet-size : 600px;
    --mobile-size : 500px;
}

/* 2. HTML settings */

*{
    box-sizing: border-box;
    /*font-family: 'Space Mono', monospace;*/
}


/* REMOVE THIS BEFORE*/
body{
    /* background-color: var(--light-purple); */
    margin: 0;
    padding: 0;
    /*font-family: Helvetica, sans-serif;*/
    font-family: 'Raleway', sans-serif;
}

html{
    scroll-behavior: smooth;
}

.box-shadow{
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: 5px 5px 0px 0px rgba(0,0,0,1);
    box-shadow: 5px 5px 0px 0px rgba(0,0,0,1);
}

/* 3. Font settings */



/* 4. Buttons style */





/* 5. Nav settings */

.nav-wrapper{
    z-index: 3;
    padding: 0 1rem;
    background-color: var(--light-purple);
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: var(--border-style-1px);
}

.nav-container{
    max-width: 1000px;
    width: 100%;
}

.navbar{
    /*min-height: 4rem;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-title{
    text-decoration: none;
    color: var(--font-color-black);
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-header{
    width: 100%;
    font-weight: bold;
    font-size: .7rem;
    padding: 0;
    margin: 0;
    margin-left: 1rem;
}

.brand-title img{
    width: 100%;
    height: 2rem;
}

.regular-logotype{
    display: block;
}

.small-logotype{
    display: none;
}

@media(max-width:600px){
    .regular-logotype{
        display: none;
    }
    
    .small-logotype{
        display: block;
    }

    .navbar-header{
        min-width: 80px;
    }
}

.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li{
    
    list-style: none;
}

.navbar-links li a{
    font-size: .6rem;
    text-decoration: none;
    padding: .7rem 1.5rem;
    display: block;
}

.nav-btn{
    border-right: var(--border-style-1px);
    border-left: var(--border-style-1px);
    color: var(--font-color-black);
    cursor: pointer;
    font-weight: bolder;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.nav-btn:active {
    /*transform: translate(2px, 2px);*/
    /* box-shadow: var(--button-bg-color-focus) -4px -4px 0 0; */
} 

.nav-btn:hover,
.nav-btn:focus {
    background-color: var(--button-bg-color-focus);
    border-right: var(--border-style-1px);
    border-left: var(--border-style-1px);
    border-bottom: var(--border-style-1px);
    transform: translate(0px, 5px);
    box-shadow: var(--border_color) 0px -6px 0 0;
    -webkit-box-shadow: 0px -6px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px -6px 0px 0px rgba(0,0,0,1);
}

.toggle-btn{
    position: absolute;
    top: .4rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-btn .bar{
    height: 3px;
    width: 100%;
    background-color: #000000;
}

@media (max-width: 600px) {
    /* .toggle-btn{
        display: flex;
    }

    .navbar-links{
        display: none;
        width: 100%;
    }

    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links ul{
        height: 100vh;
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li{
        text-align: center;
    }

    .navbar-links li a{
        padding: .5rem 1rem;
    }

    .navbar-links.active{
        display: flex;
    } */
}

/* links 
.links{
    padding: .1rem;
    font-weight: bold;
}


.links:hover{
    background: var(--font-color-black);
    color: var(--bg-color-white);
    font-weight: 400;
}
*/


/* Hero settings */
.hero-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center bottom;
    background-image: url(img/rickandmorty_logo_og.png);
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
    background-color: #BDB1C0; 
    animation: colorChange 5s infinite;
}
@keyframes colorChange { /* flame pulses */
    0%   { background-color: #BDB1C0;  }
    25%  { background-color: #B2D235;  }
    50%  { background-color: #000000; }
    75%  { background-color: #B2D235; }
    100%  { background-color: #BDB1C0; }
  }

.hero-header{
    font-family: 'Creepster', cursive;
    font-style: italic;
    font-size: 6rem;
    color: #00B4CC;
    word-break: break-all;
    border-radius: 100%;
}

@media (max-width: 600px) {
    .hero-wrapper{
        height: 50vh;
    }
    .hero-header{
        font-size: 4rem;
    }
}

.hero-container{
    display: flex;
    /* justify-content: flex-end; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rotating-text{
    animation: rotation 5s infinite linear;
    max-width: 700px
}

.rotating-text img{
    width: 100%;
    height: auto;
}

@keyframes rotation {
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(359deg);
    }
}

@media (max-width: 600px) {
    .rotating-text{
        width: 200px;
    }
}


/* 5-7. Main settings */

/* RICK AND MORTY */

.rm-main-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-intro-container{
    text-align: center;
    margin-top: 15vh;
    width: 100%;
    max-width: 800px;
}

.main-intro-header{
    font-family: 'Creepster', cursive;
    font-style: italic;
    font-size: 6rem;
    padding: 0;
    margin: 0;
}

@media (max-width: 500px) {
    .main-intro-header{
        font-size: 3rem;
    }
}

#main-character-gallery-container{
    max-width: 1000px;
    /* max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 15.3vw);
    grid-template-rows: repeat(2,1fr);
    gap: 1rem; */
    gap: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; 
    padding-top: 2rem;
    padding-bottom: 5rem;
}

.presentation-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.presentation-img-container{
}

.card-img{
    clip-path: circle(50% at 50% 50%);
    max-width: 180px;
    background-color: #EF5C5E;
}

.card-img img{
    width: 100%;
    height: auto;
}

.presentation-information-container{
    /* padding: .3rem 1rem 1rem 1rem; */
}


.presentation-header{
    font-family: 'Creepster', cursive;
    font-style: italic;
    padding: 0 0 .5rem 0;
    margin: 0;
}

.card-text{
    padding: 0;
    margin: 0;
}

.card-text span{
    font-weight: bold;
    font-size: .6rem;
}

/* Main-content */
.display-content-wrapper-top{
    margin: 0 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 15vh;
}

.top-content-wrapper{
    display: grid;
    grid-template-columns: repeat(2, auto);
}

@media(max-width: 800px){
    .top-content-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

.season-option-container{
    text-align: center;
    width: 100%;
}

@media (min-width:800px){
    .season-option-container{
        width: 100%;
        max-width: 800px;
    }
}

.season-header{
    font-family: 'Creepster', cursive;
    font-style: italic;
    font-size: 6rem;
    padding: 0;
    margin: 0;
}

.season-text{

}



@media(max-width: 400px) {
    .season-header{
        font-size: 4rem;
    }
}

.top-btn-container{
    max-width: 400px;
    display: grid;
    grid-template-columns:  repeat(5, auto);
    width: 100%;
    margin-bottom: 1rem;
}

@media(min-width: 800px){
    .top-btn-container{
        max-width: 300px;
    }
}

.season-btn{
    background-color: var(--button-bg-color);
    border: var(--border-style-1px);
    box-shadow: var(--button-shadow-color) 4px 4px 0 0;
    -webkit-box-shadow: 0px 5px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 5px 0px 0px rgba(0,0,0,1);
    color: var(--font-color-black);
    cursor: pointer;
    display: inline-block;
    font-weight: bolder;
    /* margin: 1.5rem 0 1rem 0; */
    padding: 0 10px; 
    line-height: 2rem;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
  
/* .btn{
    background-color: var(--button-bg-color);
    border: var(--border-style);
} */
  
.season-btn:hover,
.season-btn:focus {
    background-color: var(--active-btn);
    border: 1px solid #000000;
    transform: translate(0px, 6px);
    box-shadow: var(--border_color) 7px 7px 0 0;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: -4px 4px 0px 0px rgba(0,0,0,1);
}

.season-btn:active {
    transform: translate(0px, 2px);
    box-shadow: var(--button-shadow-color) 0px 3px 0 0;
}

.btn-pressed{
    background-color: var(--active-btn);
    border: 1px solid #000000;
    transform: translate(0px, 6px);
    box-shadow: var(--border_color) 7px 7px 0 0;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: -4px 4px 0px 0px rgba(0,0,0,1);
}

.display-result{
    gap: 1rem;
    width: 100%;
    max-width: 800px;
    height: 380px;
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: 400px;
    grid-template-areas: 
    "ep-list objects";
}

@media (max-width:800px) {

    .display-result{
        gap: 2rem;
        height: 800px;
        grid-template-columns:auto;
        grid-template-rows: auto auto;
        grid-template-areas:
        "ep-list" 
        "objects"; 
        padding-bottom: 6rem;
    }
}

/* children to Display-result */
#display-episode-list{
    border-radius: 10px;
    width: 100%;
    background-color: var(--screen-bg);
    padding: 0;
    margin: 0;
    border: var(--screen-border);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    grid-area: ep-list;
    overflow: auto;
}

@media (max-width: 800px){
    #display-episode-list{
        margin: 0 auto;
        max-width: 400px;
    }
}

#display-episode-list li{
    width: 100%;
    list-style: none;
}

@media (min-width: 800px){
    #display-episode-list{
        max-width: 300px;
    }
}

/* children to Display-result */
.middle-display{
    border: var(--screen-border);
    border-radius: 10px;
    background-color: var(--screen-bg);
    width: 100%;
    grid-area: objects;
    grid-template-rows: 390px;
    display: grid;
    grid-template-areas: 
    "epAndCardobjects char-list";
}

@media (max-width: 800px){
    .middle-display{
        max-width: 400px;
        margin: 0 auto;
    }
}

/* children to Middle-display*/
.display-object{
    grid-area: epAndCardobjects;
    display: grid;
    grid-template-areas: 
    "ep-object"
    "char-object";
    width: 100%;
}


/* children to Middle-display*/
#display-character-list{
    padding-left: auto;
    overflow: auto;
    height: 100%;
    grid-area: char-list;
    max-width: 200px;
    background-color: var(--screen-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

@media (min-width:800px) {
    #display-character-list{
        width: 200px;
    }
}


/* children to object-display*/
#display-episode-object{
    grid-area: ep-object;
    color: var(--screen-text);
    padding: .5rem .5rem 0 .5rem;
    margin: 1.1rem 0 0 1.6rem;
}

/* children to object-display*/
#display-one-playcard-object{
    margin: .6rem;
    margin-bottom: 1rem;
    grid-area: char-object;
    min-width: 190px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/* listItem episode*/
.episode-information p{
    padding: 0;
    margin: 0;
}
.episode-information span{
    font-weight: bold;
}

.episode-btn p {
    word-break: break-all;
    margin-left: .3rem;
}

.episode-btn{
    background-color: var(--button-bg-color);
    max-width: 250px;
    font-size: .7rem;
    border: var(--border-screen-style-1px);
    color: var(--screen-bg);
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}


/* .episode-btn:active {
    transform: translate(0px, 2px);
    box-shadow: var(--button-shadow-color) 0px -3px 0 0;
}  */

.episode-btn:hover,
.episode-btn:focus {
    font-weight: bolder;
    background-color: var(--active-btn);
    border: var(--border-screen-style-1px);
    transform: translate(6px, 0px);
}

.episode-btn:active {
    transform: translate(-2px, 0px);
} 


.episode-btn-pressed{
    font-weight: bolder;
    background-color: var(--active-btn);
    border: var(--border-screen-style-1px);
    transform: translate(6px, 0px);
}


.episode-container{
    margin-top: -5rem;
    padding: 0;
    margin: 0;
}

.episode-container-top,
.episode-container-bottom{
    padding: 0;
    margin: 0;
}

.episode-name-information{
    font-size: .7rem;
    padding: 0;
    margin: 0;
    max-width: 150px;
}

.episode-name,
.episode-airdate{
    padding:0;
    margin:0;
    font-size: .6rem;
}

.episode-name span,
.episode-airdate span{
    font-weight: bold;
}


/* PLAYCARDS START */

/* TO STYLE!!!*/
.character-container{
    padding: 0 .4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 5px solid #21B68B;
    background-color:#F3CC15;
    height: 260px;
    width: 180px;
    border-radius: 20px;
    transition: transform .2s;
}

.character-container:hover{
    transform: scale(1.1);
}

.character-top-container{
    margin-top: -.7rem;
    margin-bottom: -.7rem;
    width: 100%;
    padding: .1rem .4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button{
    border: none;
    background: none;
}

.playcard-btn{
    color: var(--font-color-black);
    cursor: pointer;
    display: block;
    font-weight: bolder;
    /* margin: 1.5rem 0 1rem 0; */
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.heart-symbol{
    width: 20px;
    transition: transform 2s linear;
}
.heart-symbol img{
    width: 100%;
    height: auto;
}
.heart-symbol:hover{
    transform: scale(1.5)
}

.playcard-logo-container{
    width: 90px;
}

.playcard-logo{
    width: 100%;
    height: auto;
}

.img-character-container{
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100px;
    background-image: url(img/alp-ancel-WKQt_X-SKFI-unsplash_croped_graffiti.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    border: 5px solid #21B68B;
}

.character-img{
    padding-top:1rem;
    width: 120px;
    height: auto;
}

.character-info-container{
    width: 100%;
    border-radius: 10px;
    padding: .5rem;
    margin: .4rem;
    background-color: #21B68B;
    display: block;
}

.character-name-header{
    margin:0;
    padding:.1rem 0;
    text-align: center;
    /* font-family: 'Creepster', cursive;
    font-style: italic; */
    font-family: 'Xanh Mono', monospace;
    font-size: 1rem;
    line-height: .9rem;
    word-break: break-all;
}

.character-info{
    margin: .1rem 0;
    font-style: italic;
    font-size:  .6rem;
}

.character-info span{
    font-style: normal;
    font-size: .7rem;
    font-weight: bold;
}

.character-list-item{
    padding-top: 2rem;
    width: 100%;
    max-width: 150px;
    list-style: none;
}

.character-btn{
    background-color: var(--button-bg-color);
    border: var(--border-screen-style-1px);
    color: var(--screen-bg);
    cursor: pointer;
    display: block;
    font-size: .8rem;
    font-weight: bold;
    padding: .4rem .3rem; 
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
  
/* .btn{
    background-color: var(--button-bg-color);
    border: var(--border-style);
} */
  
.character-btn:hover,
.character-btn:focus {
    background-color: var(--active-btn);
    border: var(--border-screen-style-1px);
    transform: translate(-6px, 0px);
    box-shadow: var(--screen-bg) 4px 0px 0 0;
    -webkit-box-shadow: 4px 0px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: 4px 0px 0px 0px rgba(0,0,0,1);
}

.character-btn:active {
    transform: translate(2px, 0px);
}

.character-btn-pressed{
    background-color: var(--active-btn);
    border: var(--border-screen-style-1px);
    transform: translate(-6px, 0px);
    box-shadow: var(--screen-bg) 4px 0px 0 0;
    -webkit-box-shadow: 4px 0px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: 4px 0px 0px 0px rgba(0,0,0,1);
}



/* PLAYCARD STOP*/

.display-main-header-wrapper{
    padding-top: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-container{
    max-width: 800px;
    width: 100%;
}

.main-header{
    text-align: center;
    font-family: 'Creepster', cursive;
    font-style: italic;
    font-size: 4rem;
    padding: 0;
    margin: 0;
}

.display-content-wrapper-bottom{
    margin: 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.favorite-container{
    width:100%;
    margin: 0 auto;
    max-width: 800px;
    background-color: var(--screen-bg);
    border-radius: 10px;
    border: var(--screen-border)
}

@media(max-width: 800px){
    .favorite-container{
        max-width: 400px;
    }
}

/* visar sparade kort*/
#display-playcards-container{
    padding: 2rem;
    margin: auto 0;
    overflow-x: scroll;
    display: grid;
    /* grid-template-columns: repeat(20, 100px); */
    /* display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;*/
} 

/* @media (max-width:750px){
    .display-content-wrapper-bottom{
        margin-top: 20rem;
    }
} */

/* Chart */
.stats-intro-header-container{
    padding-top: 10vh;
    max-width: 1000px;
}

.stats-intro-header{
    text-align: center;
    font-family: 'Creepster', cursive;
    font-style: italic;
    font-size: 6rem;
    padding: 0;
    margin: 0;
}

.stats-intro-text{
    max-width: 800px;
}

.stats-container{
    padding: 2rem 0;
    gap: 1rem;
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (max-width:800px) {
    .stats-container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr ;
    }
}

.chart-container{
    width: 100%;
    border-radius: 10px;
    border: var(--screen-border);
    background-color: var(--screen-bg);
    margin: 0 auto;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#myChart{
    height: auto;
    width: 100%;
}

.stats-text{
    padding: .2rem 2rem 0 2rem;
    color: var(--screen-text);
}
/* STATS characters*/
/* visar från js- behållare för #characters-stats - finns endast i js*/

.characters-stats-container{
    border: var(--screen-border);
    background-color: var(--screen-bg);
    border-radius: 10px;
}

#characters-stats{
    max-height: 400px;
    margin: 0 auto;
    max-width: 400px;
    gap: .5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; 
    /* padding-top: 15vh; */
    /* padding-bottom: 5rem; */
}

.stats-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.stats-img-container{

}

.stats-img{
    clip-path: circle(50% at 50% 50%);
    max-width: 90px;
    background-color: #EF5C5E;
}

.stats-img img{
    width: 100%;
    height: auto;
}

.stats-header-container{

}

.stats-header{
    color: white;
    padding: 0 0 .5rem 0;
    margin: 0;
    font-size: .6rem;
}

/* RICK AND MORTY */

/*City*/

.main-wrapper{
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container{
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--screen-bg);
    border: var(--screen-border);
    max-width: 800px;
    width: 100%;
    display: grid;
}

.display-input-wrapper{
    /* margin-top: 1rem; */
}

.option-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.option-container,
.input-container{
    /* border: var(--screen-text) 1px solid; */
}




.input-container{
    min-height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--screen-text) 1px solid;
}

.input-container:hover{
    background-color: var(--screen-graphic-color);
}


.btn{
    background: none;
    border: var(--screen-text) 1px solid;
    color: var(--screen-text);
    cursor: pointer;
    display: inline-block;
    font-weight: bolder;
    padding: 0 1rem; 
    line-height: 2rem;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
  
.btn:hover,
.btn:focus {
    color: var(--screen-bg);
    background-color: var(--active-btn);
    border: 1px solid var(--screen-bg);
    transform: translate(0px, 6px);
    box-shadow: var(--border_color) 0px -6px 0 0;
    -webkit-box-shadow: 0px -6px 0px 0px var(--screen-bg);
    -moz-box-shadow: 0px -6px 0px 0px var(--screen-bg);
}

.btn:active {
    transform: translate(0px, 2px);
    box-shadow: var(--screen-bg) 0px -2px 0 0;
} 

/* 5-7. User input settings */

#form-post,
#form-search{
    width: 100%;
    padding: 1rem;
}

.user-input{
    color: var(--screen-text);
    margin-bottom: 1rem;
    margin: .5rem 0;
    padding: .2rem 0;
    width: 100%;
    box-sizing: border-box;
    border: var(--screen-text) 1px solid;
    background: none;
}

.user-input:focus{
    background-color: var(--screen-graphic-color);
    color: var(--screen-text);
}

#search-button:disabled{
    cursor: default;
}

/* ERROR-MESSAGE */

#add-error-message{
    color: var(--screen-text);
    grid-template-columns: 1fr 1fr;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

#name-error,
#population-error{
    margin: 0;
    padding: 0;
    color: var(--screen-text);
}


/* Display setting*/
#display-container{
    color: var(--screen-text);
    background-color: var(--screen-bg);
    margin: 1rem 0;
    padding: 1rem 0;
    display: grid;
    gap: 1rem;
    grid-template-areas: 
    "city-list city-items";
    grid-template-columns: 1fr 2fr;
}

@media(max-width: 600px) {
    
    #display-container{
        grid-template-areas: 
        "city-items"
        "city-list";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
    }
}

#display-list-container{
    grid-area: city-list;
}

#display-list-container ul{
    margin: 0;
    padding: 0;
}

#display-city-list li{
    display: grid;
    list-style: none;
}

#display-city-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: city-items;
}

.city-list-item{
    /* background-color: var(--button-bg-color); */
    max-width: 200px;
}

@media(max-width: 600px){
    .city-list-item{
        max-width:100%
    }
}

.list-name,
.list-population{
    padding: .4rem 0 0 .4rem;
    margin: 0;
}

.list-population{
    font-size: .6rem;
}

.list-btn{
    padding: .3rem 0 .3rem .3rem;
    max-width: 250px;
    font-size: 1rem;
    border: var(--screen-text) 1px solid;
    color: var(--screen-text);
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.list-btn:hover,
.list-btn:focus {
    font-weight: bolder;
    background-color: var(--active-btn);
    color: var(--screen-bg);
    border: var(--screen-bg) 1px solid;
    transform: translate(6px, 0px);
}

.list-btn-pressed{
    background-color: var(--active-btn);
    font-weight: bolder;
    color: var(--screen-bg);
    border: var(--screen-bg) 1px solid;
    transform: translate(6px, 0px);
}

.list-btn:active {
    transform: translate(-2px, 0px);
} 

/* City Object*/
.city-item-container{
    max-width: 800px;
    width: 100%;
    border: var(--screen-text) 1px solid;
    display: grid;
    min-height: 150px;
    margin-bottom: 1rem;
}

.city-item-container:hover{
    background-color: var(--screen-graphic-color);
}

/* edit selection */
.item-select-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-height: 2rem;
    margin: 0;
    padding: 0;
}

.yes{
    background-color: var(--light-green);
}

.no{
    background-color: var(--light-red);
}

.yes:hover{
    background-color: #108E74;
}
.no:hover{
    background-color: red;
}


/* city object information*/
.city-information-container{
    display: grid;
    grid-template-columns: auto;
    padding: 1rem;
}

/* edit city mode*/
.edit-city-container{
    padding:1rem;
}

.city-header{
    margin-top: 1rem;
    font-size: 3rem;
    font-weight: bold;
    word-break: break-all;
    margin-bottom: 1rem;
}

input::placeholder{
    font-size: 1rem;
    color: var(--screen-text);
    opacity: .8;
}

/* 7-9. Footer settings */

.footer-wrapper{
    border: var(--border-style-1px);
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

.footer-container{
    padding: 4rem 0 2rem 0;
    max-width: 1000px;
    width: 100%;
    display: grid;
}

/*about-section*/
.footer-information-items{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 2rem;
}

.footer-header{
    font-family: 'Creepster', cursive;
    font-style: italic;
    font-size: 4rem;
    padding: 0;
    margin: 0;
}

/* small logos*/
.logo-items{
    width: 100%;
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-bottom: 2rem;
}

@media (max-width:600px) {
    .logo-items{
        grid-template-columns: 1fr 1fr;
    }
}


.small-logo-container{
    text-decoration: none;
    color: white;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.small-logo-container img{
    width: 100%;
    max-height: auto;
}

.small-logo-text{
    padding:0;
    margin: .6rem 0;
    font-size: .6rem;
    font-weight: bold;
}

.contact-information{
    font-size: .7rem;
}

.contact-information span{
    font-style: italic;
}

#display-test{
    width: 100px;
    height: 100px;
}

#display-test img{
    width: 100%;
    height: auto;
}