@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

/* Table of content */
/* 1. Root settings */
/* 2. HTML settings */
/* 3. Font settings */
/* 4. Buttons style */
/* 5. Nav settings */
/* 5-7. Main settings */
/* 5-7. Form settings */
/* 7-9. Footer settings */





/* 1. Root settings */
:root{
    --active-btn : #06F3AF;
    --whitish : #ffffff;
    --light-purple : #BDB1C0;
    --greenish : #108E74;
    --light-green : #23B78C;
    --light-yellow : #F3CC16;
    --light-red : #EF5C5E;
    --font-color-black : #000000;
    --bg-color-white : #FFFFFF;
    --button-bg-color : #EDDDDE;
    --button-bg-color-focus : #ffffff;
    --button-shadow-color: #000000;
    --border-style-1px: solid 1px black;
    --border-style-2px: solid 2px black;
    --warning : red;
    --ok : green;
    --tablet-size : 600px;
    --mobile-size : 500px;
}

/* 2. HTML settings */

*{
    box-sizing: border-box;
    /*font-family: 'Space Mono', monospace;*/
}


/* REMOVE THIS BEFORE*/
body{
    /* background-color: var(--light-purple); */
    margin: 0;
    padding: 0;
    /*font-family: Helvetica, sans-serif;*/
    font-family: 'Raleway', sans-serif;
}

html{
    scroll-behavior: smooth;
}

.box-shadow{
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: 5px 5px 0px 0px rgba(0,0,0,1);
    box-shadow: 5px 5px 0px 0px rgba(0,0,0,1);
}

/* 3. Font settings */



/* 4. Buttons style */





/* 5. Nav settings */

.nav-wrapper{
    z-index: 3;
    padding: 0 1rem;
    background-color: var(--light-purple);
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: var(--border-style-1px);
    height: 2.3rem;
}

.nav-container{
    max-width: 800px;
    width: 100%;
}

.navbar{
    /*min-height: 4rem;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-title img{
    /* margin-top: 1rem; */
    width: 100%;
    height: 2rem;
}

.regular-logotype{
    display: block;
}

.small-logotype{
    display: none;
}

@media(max-width:600px){
    .regular-logotype{
        display: none;
    }
    
    .small-logotype{
        display: block;
    }
}

.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li{
    
    list-style: none;
}

.navbar-links li a{
    
    font-size: .7rem;
    text-decoration: none;
    padding: .7rem 1.5rem;
    display: block;
}

.nav-btn{
    border: var(--border-style-1px);
    color: var(--font-color-black);
    cursor: pointer;
    display: block;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.nav-btn:active {
    /*transform: translate(2px, 2px);*/
    box-shadow: var(--button-bg-color-focus) -4px -4px 0 0;
} 

.nav-btn:hover,
.nav-btn:focus {
    background-color: var(--button-bg-color-focus);
    border: var(--border-style-1px);
    transform: translate(-3px, 3px);
    box-shadow: var(--border_color) 7px 7px 0 0;
    -webkit-box-shadow: 3px -3px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: 3px -3px 0px 0px rgba(0,0,0,1);
}

.toggle-btn{
    position: absolute;
    top: .4rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-btn .bar{
    height: 3px;
    width: 100%;
    background-color: #000000;
}

@media (max-width: 600px) {
    /* .toggle-btn{
        display: flex;
    }

    .navbar-links{
        display: none;
        width: 100%;
    }

    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links ul{
        height: 100vh;
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li{
        text-align: center;
    }

    .navbar-links li a{
        padding: .5rem 1rem;
    }

    .navbar-links.active{
        display: flex;
    } */
}

/* links 
.links{
    padding: .1rem;
    font-weight: bold;
}


.links:hover{
    background: var(--font-color-black);
    color: var(--bg-color-white);
    font-weight: 400;
}
*/


/* Hero settings */
.hero-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center bottom;
    background-image: url(img/rickandmorty_logo_og.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
    border: var(--border-style-1px);
    background-color: #BDB1C0; 
    animation: colorChange 5s infinite;
}
@keyframes colorChange { /* flame pulses */
    0%   { background-color: #BDB1C0;  }
    25%  { background-color: #23B78C;  }
    50%  { background-color: #108E74; }
    75%  { background-color: #00B4CC; }
    100%  { background-color: #BDB1C0; }
  }

.hero-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.hero-header{
    font-family: 'Creepster', cursive;
    font-style: italic;
    font-size: 6rem;
    color: #00B4CC;
    word-break: break-all;
    border-radius: 100%;
}

@media (max-width: 600px) {
    .hero-wrapper{
        height: 50vh;
    }
    .hero-header{
        font-size: 4rem;
    }
}


/* 5-7. Main settings */

/* RICK AND MORTY */

.rm-main-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-intro-container{
    text-align: center;
    margin-top: 15vh;
    width: 100%;
    max-width: 800px;
}

.main-intro-header{
    font-family: 'Creepster', cursive;
    font-style: italic;
    font-size: 4rem;
    padding: 0;
    margin: 0;
}

@media (max-width: 500px) {
    .main-intro-header{
        font-size: 3rem;
    }
}

#main-character-galleri-container{
    max-width: 800px;
    /* max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 15.3vw);
    grid-template-rows: repeat(2,1fr);
    gap: 1rem; */
    gap: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; 
    padding-top: 15vh;
    padding-bottom: 5rem;
}

.character-card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.character-img-container{
}

.card-img{
    clip-path: circle(50% at 50% 50%);
    max-width: 180px;
    background-color: #EF5C5E;
    
}

.card-img img{
    width: 100%;
    height: auto;
}

.character-card-information-container{
    /* padding: .3rem 1rem 1rem 1rem; */
}

.character-card-name-header{
    font-family: 'Creepster', cursive;
    font-style: italic;
    padding: 0 0 .5rem 0;
    margin: 0;
}

.card-text{
    padding: 0;
    margin: 0;
}

.card-text span{
    font-weight: bold;
    font-size: .6rem;
}

/* Main-content */
.display-content-wrapper-top{
    background-color: aliceblue;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 15vh;
}

.season-option-container{
    width: 100%;
    max-width: 800px;
}

.season-header{
    font-family: 'Creepster', cursive;
    font-style: italic;
    font-size: 6rem;
    padding: 0;
    margin: 0;
}

.season-text{

}

.top-content-wrapper{
    display: grid;
    grid-template-columns: repeat(2, auto);
}

@media(max-width: 400px) {
    .season-header{
        font-size: 4rem;
    }
}

.top-btn-container{
    max-width: 300px;
    display: grid;
    grid-template-columns:  repeat(5, auto);
    width: 100%;
}

.season-btn{
    background-color: var(--button-bg-color);
    border: var(--border-style-1px);
    box-shadow: var(--button-shadow-color) 4px 4px 0 0;
    -webkit-box-shadow: 0px 5px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 5px 0px 0px rgba(0,0,0,1);
    color: var(--font-color-black);
    cursor: pointer;
    display: inline-block;
    font-weight: bolder;
    /* margin: 1.5rem 0 1rem 0; */
    padding: 0 10px; 
    line-height: 2rem;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
  
/* .btn{
    background-color: var(--button-bg-color);
    border: var(--border-style);
} */
  
.season-btn:hover,
.season-btn:focus {
    background-color: var(--active-btn);
    border: 1px solid #000000;
    transform: translate(0px, 6px);
    box-shadow: var(--border_color) 7px 7px 0 0;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: -4px 4px 0px 0px rgba(0,0,0,1);
}

.season-btn:active {
    transform: translate(2px, 2px);
    box-shadow: var(--button-shadow-color) -2px -2px 0 0;
} 

.display-result{
    margin: 0;
    gap: 1rem;
    display: grid;
    width: 100%;
    max-width: 800px;
    grid-template-columns: 300px auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
    ".. header"
    "ep-list objects";
}

@media (max-width:750px) {
    .display-result{
        grid-template-columns: 300px;
        grid-template-areas:
        "ep-list" 
        "header" 
        "objects";
    }
}

.headers-container{
    height: 100%;
    border: var(--border-style-1px);
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.display-characters-header{
    margin: 0;
    padding: 0;
    margin-right: auto;
}

#display-episode-list{
    background-color: black;
    padding: 0;
    margin: 0;
    border: var(--border-style-1px);
    overflow: scroll;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: ep-list;
    margin-top: -2rem;
}

#display-episode-list li{
    width: 100%;
    list-style: none;
}


.middle-display{
    width: 100%;
    border: var(--border-style-1px);
    grid-area: objects;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.display-object{
    width: 100%;
}

#display-episode-object{
    padding: .5rem .5rem 0 .5rem;
}

#display-character-object{
}


/* Display a list of character from episode*/
#display-character-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: scroll;
    height: 70vh;
}


/* listItem episode*/
.episode-information p{
    padding: 0;
    margin: 0;
}
.episode-information span{
    font-weight: bold;
}

.episode-btn p {
    margin-left: .3rem;
}

.episode-btn{
    background-color: #FFFFFF;
    max-width: 210px;
    font-size: .7rem;
    border: var(--border-style-1px);
    color: var(--font-color-black);
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.episode-btn:active {
    transform: translate(2px, 2px);
    box-shadow: var(--button-bg-color-focus) -4px -4px 0 0;
} 

.episode-btn:hover,
.episode-btn:focus {
    font-weight: bolder;
    background-color: var(--active-btn);
    border: var(--border-style-1px);
    transform: translate(6px, 0px);
    box-shadow: var(--border_color) 0px 0px 0 0;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,1);
}


.episode-container{
    margin-top: -5rem;
    padding: 0;
    margin: 0;
}

.episode-container-top,
.episode-container-bottom{
    padding: 0;
    margin: 0;
}

.episode-name-information{
    padding: 0;
    margin: 0;
    max-width: 150px;
}

.episode-name,
.episode-airdate{
    padding:0;
    margin:0;
    font-size: .6rem;
}

.episode-name span,
.episode-airdate span{
    font-weight: bold;
}


/* PLAYCARDS START */
.character-container{
    margin: 1rem;
    padding: 0 .4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid var(--light-green);
    background-color:#F3CC16;
    height: 280px;
    width: 200px;
    border-radius: 20px;
}

.character-top-container{
    width: 100%;
    padding: .4rem .4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.playcard-btn{
    border-radius: 100px;
    background: none;
    border: var(--border-style-1px);
    /* box-shadow: var(--button-shadow-color) 4px 4px 0 0;
    -webkit-box-shadow: 4px 4px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: 4px 4px 0px 0px rgba(0,0,0,1); */
    color: var(--font-color-black);
    cursor: pointer;
    display: block;
    font-weight: bolder;
    /* margin: 1.5rem 0 1rem 0; */
    padding: .7rem; 
    line-height: 0;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.playcard-logo-container{
    width: 90px;
}

.playcard-logo{
    width: 100%;
    height: auto;
}

.img-character-container{
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100px;
    background-image: url(img/alp-ancel-WKQt_X-SKFI-unsplash_croped_graffiti.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    border: 5px solid var(--light-purple);
}

.character-img{
    padding-top:1rem;
    width: 120px;
    height: auto;
}

.character-info-container{
    width: 100%;
    border-radius: 10px;
    padding: .5rem;
    margin: .4rem;
    background-color: var(--light-purple);
    display: block;
}

.character-name-header{
    margin:0;
    padding:.6rem 0;
    text-align: center;
    font-family: 'Creepster', cursive;
    font-style: italic;
    font-size: 1rem;
    line-height: 0;
    word-break: break-all;
}

.character-info{
    font-style: italic;
    font-size:  .6rem;
}

.character-info span{
    font-style: normal;
    font-size: .7rem;
    font-weight: bold;
}

.character-list-item{
    width: 100%;
    max-width: 150px;
    list-style: none;
}

.character-btn{
    background-color: var(--button-bg-color);
    border: var(--border-style-1px);
    /* box-shadow: var(--button-shadow-color) 4px 4px 0 0;
    -webkit-box-shadow: 4px 4px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: 4px 4px 0px 0px rgba(0,0,0,1); */
    color: var(--font-color-black);
    cursor: pointer;
    display: block;
    font-size: .8rem;
    font-weight: bold;
    /* margin: 1.5rem 0 1rem 0; */
    padding: .4rem .3rem; 
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
  
/* .btn{
    background-color: var(--button-bg-color);
    border: var(--border-style);
} */
  
.character-btn:hover,
.character-btn:focus {
    background-color: var(--button-bg-color-focus);
    border: 1px solid #000000;
    transform: translate(-6px,-6px);
    box-shadow: var(--border_color) 4px 4px 0 0;
    -webkit-box-shadow: -4px -4px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: -4px -4px 0px 0px rgba(0,0,0,1);
}

.character-btn:active {
    transform: translate(2px, 2px);
    box-shadow: var(--button-shadow-color) -2px -2px 0 0;
}


/* PLAYCARD STOP*/

.display-main-header-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-container{
    max-width: 800px;
    width: 100%;
}

.main-header{
    font-family: 'Creepster', cursive;
    font-style: italic;
    font-size: 4rem;
    padding: 0;
    margin: 0;
}

/* Chart */
.chart{
background-color: #23B78C;
}


#myChart{
    height: auto;
    width: 100%
}

#display-character-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

/* RICK AND MORTY */

/*City*/
.main-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container{
    max-width: 800px;
    width: 100%;
    display: grid;
}

.option-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
}

.option-container,
.input-container{
    border: var(--border-style-1px);
    background-color: var(--light-purple);
}

.display-input-wrapper{
    /* margin-top: 1rem; */
}

.input-container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* 5-7. User input settings */

#form-post,
#form-search{
    width: 100%;
    padding: 1rem;
}

.user-input{
    /* margin: 2rem; */
    margin-bottom: 1rem;
    margin: .5rem 0;
    padding: .2rem 0;
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: none;
    border-bottom : var(--border-style-1px);
}

#search-button:disabled{
    cursor: default;
}

/* ERROR-MESSAGE */

#add-error-message{
    grid-template-columns: 1fr 1fr;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

#name-error,
#population-error{
}


/* Display setting*/
#display-container{
    background-color:var(--light-purple);
    margin: 1rem 0;
    padding: 1rem;
    border: var(--border-style-1px);
    min-height: 50vh;
    display: grid;
    gap: 1rem;
    grid-template-areas: 
    "city-list city-items";
    grid-template-columns: 1fr 2fr;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    /* max-height: 80vh;
    overflow: scroll; */
}

@media(max-width: 600px) {
    
    #display-container{
        grid-template-areas: 
        "city-items"
        "city-list";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
    }
}

#display-city-container{
    /* overflow: scroll;
    height: 30vh; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: city-items;
}


#display-list-container{
    grid-area: city-list;
}

#display-list-container ul{
    margin: 0;
    padding: 0;
}

#display-city-list li{
    padding-bottom: .3rem;
    display: grid;
    list-style: none;
}

.city-list-item{
    max-width: 200px;
}

@media(max-width: 600px){
    .city-list-item{
        max-width:100%
    }
}

.list-name,
.list-population{
    padding: .4rem 0 0 .4rem;
    margin: 0;
}

/*

.list-name a{
    text-decoration: none;
    color: black
}

*/

.list-population{
    font-size: .6rem;
}

.list-btn{
    border: var(--border-style-1px);
    color: var(--font-color-black);
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.list-btn:active {
    font-weight: bolder;
    transform: translate(2px, 2px);
    box-shadow: var(--button-bg-color-focus) -4px -4px 0 0;
} 

.list-btn:hover,
.list-btn:focus {
    font-weight: bolder;
    background-color: var(--button-bg-color-focus);
    border: var(--border-style-1px);
    transform: translate(-2px, 2px);
    box-shadow: var(--border_color) 7px 7px 0 0;
    -webkit-box-shadow: 2px -2px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: 2px -2px 0px 0px rgba(0,0,0,1);
}

/* City Object*/
.city-item-container{
    max-width: 800px;
    width: 100%;
    border: var(--border-style-1px);
    display: grid;
    min-height: 150px;
    margin-bottom: 1rem;
    /* margin: 1rem 0; */
}

.city-item-container:hover{
    background-color: var(--whitish);
}

/* edit selection */
.item-select-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-height: 2rem;
    /* min-height: 2rem;
    max-height: 2rem; */
    margin: 0;
    padding: 0;
}

.btn{
    /*background-color: var(--greenish);*/
    background: none;
    border: var(--border-style-1px);
    /* box-shadow: var(--button-shadow-color) 4px 4px 0 0;
    -webkit-box-shadow: 4px 4px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: 4px 4px 0px 0px rgba(0,0,0,1); */
    color: var(--font-color-black);
    cursor: pointer;
    display: inline-block;
    font-weight: bolder;
    /* margin: 1.5rem 0 1rem 0; */
    padding: 0 10px; 
    line-height: 2rem;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
  
/* .btn{
    background-color: var(--button-bg-color);
    border: var(--border-style);
} */
  
.btn:hover,
.btn:focus {
    background-color: var(--button-bg-color-focus);
    border: 1px solid #000000;
    transform: translate(6px, -6px);
    box-shadow: var(--border_color) 7px 7px 0 0;
    -webkit-box-shadow: -4px 4px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: -4px 4px 0px 0px rgba(0,0,0,1);
}

.btn:active {
    transform: translate(2px, 2px);
    box-shadow: var(--button-shadow-color) -2px -2px 0 0;
} 

.yes{
    background-color: var(--light-green);
}

.no{
    background-color: var(--light-red);
}

.yes:hover{
    background-color: #108E74;
}
.no:hover{
    background-color: red;
}


/* city object information*/
.city-information-container{
    display: grid;
    grid-template-columns: auto;
    padding: 1rem;
}

/* edit city mode*/
.edit-city-container{
    padding:1rem;
}

.city-header{
    margin-top: 1rem;
    font-size: 3rem;
    font-weight: bold;
    word-break: break-all;
    margin-bottom: 1rem;
}

input::placeholder{
    font-size: 1rem;
    color: black;
    opacity: .8;
}

.city-item{
}

/* 7-9. Footer settings */

.footer-wrapper{
    border: var(--border-style-1px);
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

.footer-container{
    padding: 4rem 0 2rem 0;
    max-width: 800px;
    width: 100%;
    display: grid;
}

/*about-section*/
.footer-information-items{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 2rem;
}

.footer-header{
    font-family: 'Creepster', cursive;
    font-style: italic;
    font-size: 4rem;
    padding: 0;
    margin: 0;
}

/* small logos*/
.logo-items{
    width: 100%;
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-bottom: 2rem;
}

@media (max-width:600px) {
    .logo-items{
        grid-template-columns: 1fr 1fr;
    }
}


.small-logo-container{
    text-decoration: none;
    color: white;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.small-logo-container img{
    width: 100%;
    max-height: auto;
}

.small-logo-text{
    padding:0;
    margin: .6rem 0;
    font-size: .6rem;
    font-weight: bold;
}

.contact-information{
    font-size: .7rem;
}

.contact-information span{
    font-style: italic;
}

#display-test{
    width: 100px;
    height: 100px;
}

#display-test img{
    width: 100%;
    height: auto;
}