/*INTRO SECTION_ TEST ONLY */

body{
    font-family: Helvetica, sans-serif;
}

.intro{
    text-align: center;
    font-weight: bolder;
}

.result-container{
    border: 1px solid black;
    margin: 2rem 0;
    display: flex;
}

.testP{
    padding: 1rem;
}


/* ERROR-MESSAGE */

#error-message{
    color: red;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

/* REMOVE ALL ABOVE AFTER TEST PERIOD IS OVER */

/* Table of content */
/* 1. Root settings */
/* 2. HTML settings */
/* 3. Font settings */
/* 4. Buttons style */
/* 5. Nav settings */
/* 5-7. Main settings */
/* 5-7. Form settings */
/* 7-9. Footer settings */





/* 1. Root settings */
:root{
    --font-color-black : #000000;
    --bg-color-white : #FFFFFF;
}

/* 2. HTML settings */

html{
    scroll-behavior: smooth;
}

/* 3. Font settings */
ul li{
    list-style: none;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: var(--font-color);
}

/* 4. Buttons style */
/* 5. Nav settings */

/* links */
.links{
    padding: .1rem;
    font-weight: bold;
}

.links:hover{
    background: var(--font-color-black);
    color: var(--bg-color-white);
    font-weight: 400;
}

/* 5-7. Main settings */
/* 5-7. Form settings */
/* 7-9. Footer settings */